* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #212529;
}


.container {
  max-width: 800px;
  background: #fff;
  margin: 60px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


h1, h2, h3 {
  color: #000000;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.25rem;
  margin-top: 25px;
}


ul {
  padding-left: 20px;
}

p, li {
  line-height: 1.6;
}


button, .btn {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #0d6efd;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover, .btn:hover {
  background-color: #084298;
}


.btn-print {
  width: auto;
  display: inline-block;
  padding: 10px 24px;
  font-weight: 600;
  border-radius: 8px;
}


@media (max-width: 600px) {
  .container {
    margin: 40px 15px;
    padding: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .btn-print {
    width: 100%;
  }
  .titulo-curriculo {
  text-align: center;
  font-weight: 700;
  color: #000; 
  margin-bottom: 25px;
  font-size: 2rem;
}
}
